node_modules
.DS_Store
dist
dist-ssr
*.local
.idea

# Ignore all files in the data directory
/data/*
# But do not ignore these specific files
!/data/db-config.json
# !/data/.gitkeep

.vscode

/private
/out
/tmp
.env

/extra/healthcheck.exe
/extra/healthcheck
/extra/healthcheck-armv7

extra/exe-builder/bin
extra/exe-builder/obj

.vs
.vscode